[Desktop Entry]
Encoding=UTF-8
Name=KTorrent
Name[sv]=Ktorrent
Name[xx]=xxKTorrentxx
GenericName=BitTorrent Client
GenericName[ar]=زبون BitTorrent
GenericName[bg]=Бит Торент клиент
GenericName[br]=Kliant BitTorrent
GenericName[ca]=Client de BitTorrent
GenericName[cs]=BitTorrent klient
GenericName[da]=BitTorrent klient
GenericName[de]=BitTorrent-Programm
GenericName[el]=Πελάτης BitTorrent
GenericName[es]=Cliente de BitTorrent
GenericName[et]=BitTorrenti klient
GenericName[fa]=کارخواه BitTorrent
GenericName[fr]=Client BitTorrent
GenericName[gl]=Cliente BitTorrent
GenericName[it]=Client BitTorrent
GenericName[ja]=BitTorrent クライアント
GenericName[ka]=BitTorrent-ის კლიენტი
GenericName[lt]=BitTorrent klientas
GenericName[ms]=Klien BitTorrent
GenericName[nb]=BitTorrent-klient
GenericName[nds]=Bittorrent-Programm
GenericName[nl]=BitTorrent-cliënt
GenericName[pa]=BitTorrent ਕਲਾਂਇਟ
GenericName[pl]=Klient BitTorrenta
GenericName[pt]=Cliente de BitTorrent
GenericName[pt_BR]=Cliente BitTorrent
GenericName[ru]=Клиент BitTorrent
GenericName[sk]=BitTorrent Klient
GenericName[sr]=BitTorrent клијент
GenericName[sr@Latn]=BitTorrent klijent
GenericName[sv]=BitTorrent-klient
GenericName[tr]=BitTorrent İstemcisi
GenericName[uk]=Клієнт BitTorrent
GenericName[xx]=xxBitTorrent Clientxx
GenericName[zh_CN]=BitTorrent 客户端
GenericName[zh_TW]=BitTorrent 客戶端程式
Exec=ktorrent %i %m -caption "%c" %u
Icon=ktorrent
Type=Application
X-DocPath=ktorrent/index.html
MimeType=application/x-bittorrent;application/x-torrent;
X-DCOP-ServiceType=Unique
Comment=A BitTorrent program for TDE
Comment[ar]=برنامِج BitTorrent لِــ TDE
Comment[bg]=Бит Торент клиент за TDE
Comment[br]=Ur programm BitTorrent evit TDE
Comment[ca]=Un programa de BitTorrent per TDE
Comment[cs]=BitTorrent pro TDE
Comment[da]=Et BitTorrent program for TDE
Comment[de]=Ein BitTorrent-Programm für TDE
Comment[el]=Μία εφαρμογή BitTorrent για το TDE
Comment[es]=Un programa de BitTorrent para TDE
Comment[et]=TDE BitTorrenti rakendus
Comment[fa]=یک برنامۀ BitTorrent برای TDE
Comment[fr]=Un programme BitTorrent pour TDE
Comment[gl]=Programa de BitTorrent para TDE
Comment[it]=Un programma BitTorrent per TDE
Comment[ja]=TDE のための BitTorrent プログラム
Comment[ka]=BitTorrent-ის პროგრამა TDE-თვის
Comment[lt]=BitTorrent programa skirta TDE aplinkai
Comment[ms]=Program BitTorrent untuk TDE
Comment[nb]=Et BitTorrent-program for TDE
Comment[nds]=En Bittorrent-Programm för TDE
Comment[nl]=Een BitTorrent-programma voor TDE
Comment[pa]=TDE ਲਈ BitTorrent ਕਾਰਜ
Comment[pl]=Program BitTorrent dla TDE
Comment[pt]=Um programa de BitTorrent para o TDE
Comment[pt_BR]=Um programa BitTorrent para o TDE
Comment[ru]=Клиент BitTorrent для TDE
Comment[sk]=BitTorrent klient pre TDE
Comment[sr]=BitTorrent програм за TDE
Comment[sr@Latn]=BitTorrent program za TDE
Comment[sv]=Ett BitTorrent-program för TDE
Comment[tr]=TDE için BitTorrent uygulaması
Comment[uk]=Програма BitTorrent для TDE
Comment[xx]=xxA BitTorrent program for TDExx
Comment[zh_CN]=一个 TDE 的 BitTorrent 程序
Comment[zh_TW]=TDE 的 BitTorrent 程式
Terminal=false
Categories=Qt;TDE;Network;FileTransfer;
